a
{
    text-decoration: none;
}
.background-center
{
    background-color: #D9DCD7;
}
.main-layout
{
    width:1000px;
    height: 2500px;
    /*position: absolute;*/
    margin: 40px auto 40px auto;
    /*margin-top: 40px;*/
    /*margin-left: 100px;*/
}
.nav-bar-left
{
    display: block;
    width: 260px;
    height: 1200px;
    float: left;
    margin: 30px;
}
.logo-box
{
    position: relative;
    width: 260px;
    height: 250px;
    background: #F08400;
}
.center-in-div
{
    position: absolute;
    top: 50px;
}
.nav-item
{
    /*Base nav bar class*/
    display: block;
    text-align: center;
    line-height: 52px;
    border-top: 1px solid #737373;
    -webkit-font-smoothing: antialiased;
    width: 260px;
    height: 50px;
}
.nav-menu-option
{
    /*removes bullet styling from list*/
    background: #555555;
    list-style: none;
    color: #e5e3e3;
    height: 52px;
}
.nav-tab
{
    height: 18px;
}
.feature
{
    text-align: left;
    font-size: 19px;
    padding: 20px 20px;
    background: #FFF;
    color: #555555;
    line-height: normal;
    /*Offset width with padding*/
    width: 220px;
    height: 100px;
}
.large-feature
{
    height: 380px;
}
.main-content-placeholder
{
    display:block;
    width: 1px;
    height: 1px;
    background: #000;
    float: right;
    /*Handle positioning*/
    /*position: relative;*/
    /*top: -1200px;*/
    /*left: 300px;*/
    float: left;
    margin: 0;
    border: 0;
    padding: 0;
}
section div:first-of-type
{
    margin-top: 30px;
}
.tile-content
{
    display: block;
    box-sizing: border-box;
    background: #FFF;
    width: 760px;
    height: 260px;
    padding: 5px 20px;
    border: 1px;
    margin-bottom: 30px;
}
.tile-content h3
{
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    display: block;
}
.tile-text
{
    margin: 0px;
}
.tile-img
{
    display: inline-block;
    float: left;

}
.clearfix::before,
.clearfix::after
{
    content: "";
    display: table;
}
.clearfix::after
{
    clear: both;
}
