.center
{
    width:500px;
    height: 1200px;
    margin:0 auto 0 auto;
    background-color:#d29d2b;
}
.apple-image
{
    float:right;
    border-top-right-radius: 0%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;

}
.main-content
{
    background-color: #d3d3d3;
    padding: 9px 10px;
    border-radius: 6px;
}
ul,
ol
{
    float:right;
    display: inline-block;
}
#apple
{
    border:50% solid blue;
    margin:0 auto;
}
#apple:hover
{
    color:blue;
}
